{% if clouds | length > 1 %}
[{{platformname}}]
{% for cloud in clouds %}
[{{cloud.name}}]
{% for host in cloud.instances %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}
{% endif %}

{% for cloud in clouds %}
[{{cloud.name}}]
{% for host in cloud.instances %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[windows]
{% for cloud in clouds %}
{% for host in cloud.instances if host.os.find('Windows') != -1%}
{{cloud.name}}{{host.name}} instance_hostname={{cloud.name}}{{host.name}} fqdn={{cloud.name}}{{host.name}}.{{apprenda_domain}} private_ip_address={{hostvars[(cloud.name + host.name) | lower].ec2_private_ip_address}} apprenda_cloud={{cloud.name}} cloudZone={{cloudZoneAWS}}
{% endfor %}
{% endfor %}

[linux]
{% for cloud in clouds %}
{% for host in cloud.instances if host.os.find('Windows') == -1%}
{{cloud.name}}{{host.name}} instance_hostname={{cloud.name}}{{host.name}} fqdn={{cloud.name}}{{host.name}}.{{apprenda_domain}} private_ip_address={{hostvars[(cloud.name + host.name) | lower].ec2_private_ip_address}} apprenda_cloud={{cloud.name}} cloudZone={{cloudZoneAWS}}
{% endfor %}
{% endfor %}

[app]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendawindowsapp' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[web]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendawindowsweb' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[coredb]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendacoredb' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[sqlserver]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendasqlserver' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[cache]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendacache' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[coordination]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendacoordination' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[loadmanager]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendaloadmanager' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[platformrepo]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendaplatformrepo' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[federationprimary]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendafederationprimary' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[federation]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendafederation' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[installer]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendainstallation' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[oracle]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendaoracle' in host.role_tags %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[linux7]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendalinux' in host.role_tags and host.os.find('7') != -1 %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[linux6]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendalinux' in host.role_tags and host.os.find('6') != -1 %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[centos]
{% for cloud in clouds %}
{% for host in cloud.instances if 'Apprendalinux' in host.role_tags and host.os.find('CENT') != -1 %}
{{cloud.name}}{{host.name}}
{% endfor %}
{% endfor %}

[all:vars]
cloudZone={{cloudZoneAWS}}
