{% for group in groups %}
{% if group != "all" %}
{% if group != "ungrouped" %}
[{{ group }}]
{% for host in groups[group] %}
{% if hostvars[host]['instance_hostname'] is defined %}
{{ hostvars[host]['instance_hostname'] }}  ansible_host={{ hostvars[host]['inventory_hostname'] }}
{% elif hostvars[host]['ansible_fqdn'] is defined %}
{{ hostvars[host]['ansible_fqdn'] }}  ansible_host={{ hostvars[host]['inventory_hostname'] }}
{% elif hostvars[host][ansible_default_ipv4] is defined%}
{{ hostvars[host][ansible_default_ipv4] }}  ansible_host={{ hostvars[host]['inventory_hostname'] }}
{% else %}
{{ hostvars[host] }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}