<?xml version="1.0"?>
<ApprendaGridDefinitions
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://schemas.apprenda.com/ApprendaGridDefinitions"
   xsi:schemaLocation="http://schemas.apprenda.com/ApprendaGridDefinitions http://schemas.apprenda.com/ApprendaGridDefinition/ApprendaGridDefinitions.xsd">
  <ApprendaGrid
     licenseFilePath="{{ lic_file_path }}"
     enableBilling="true"
     useApprendaBillingProvider="true"
     runtimeDriveLetter="C"
{% for cloud in clouds %}
{% for host in cloud.instances %}
{% for role in host.role_tags if role == "Apprendaplatformrepo" %}
     repositoryHost="\\{{cloud.name}}{{ host.name }}\Partitions"
{% endfor %}
{% endfor %}
{% endfor %}
     enforceSslForAllPages="{% if envOptions.enforceSSL == true %}true{% else %}false{% endif %}"
     federationEnabled="{% if envOptions.federationEnabled == true %}true{% else %}false{% endif %}"
{% if envOptions.encryptInternalComms %}
     encryptInternalCommunication="true"
{% if envOptions.internalCommsScenario == 1 %}
     generateInternalCommunicationIssuerCertificate="true"
     generateInternalCommunicationCertificates="true"
{% elif envOptions.internalCommsScenario == 2 %}
     generateInternalCommunicationIssuerCertificate="false"
     internalCommunicationIssuerCertificate="c:/rootca.pfx"
     internalCommunicationIssuerCertificatePassword="password"
     generateInternalCommunicationCertificates="true"
{% elif envOptions.internalCommsScenario == 3 %}
     generateInternalCommunicationIssuerCertificate="false"
     generateInternalCommunicationCertificates="false"
     internalCommunicationIssuerCertificate="c:/rootca.pfx"
     internalCommunicationIssuerCertificatePassword="password"
{% endif %}
{% endif %}
     useApprendaHostFileExtension="false"
     requireSocAuthorization="false"
     signingCertificatePath="C:\{{ clouds.0.name }}.{{ cloudZone }}.signing.pfx"
     signingCertificatePassword="{{ root_ca_pass }}" >
    <CompanyInfo
       name="War Kittens"
       alias="warkittens"
       address=""
       city=""
       state=""
       zip=""
       country=""
       phoneNumber=""
       adminFirstName="Commander"
       adminLastName="Fluffy"
{% if envOptions.eusEnabled %}
       adminEmail="{{ default_eus_tenant_user }}"
{% else %}
       adminEmail="{{ default_tenant_user }}"
{% endif %}
       adminPassword="{{ default_tenant_pass }}" />
    <EmailConfig useFreeCloudSolution="true">
      <SMTPConfig senderName="Apprenda Confirmation Agent" senderAddress="saasgrid-notify@apprenda.com" />
    </EmailConfig>
{% if envOptions.federationEnabled %}
{% for cloud in clouds %}
{% for host in cloud.instances %}
{% for role in host.role_tags if role == "Apprendafederationprimary" %}
    <IdentityFederationConfig federationEndpoint="https://identity.{{cloud.name}}.{{cloudZone}}/adfs/ls/" />
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}
    <WindowsServiceConfig>
      <AdminUserAccount>
        <UserAccount domain="{{ apprenda_domain }}" username="{{ apprenda_admin_user }}" password="{{ apprenda_admin_user_pass }}"/>
      </AdminUserAccount>
      <SystemUserAccount>
        <UserAccount domain="{{ apprenda_domain }}" username="{{ apprenda_system_user }}" password="{{ apprenda_system_user_pass }}"/>
      </SystemUserAccount>
    </WindowsServiceConfig>
    <LinuxConfig adminUser="{{ apprenda_linux_root_user }}" elevationMethod="sudo" appsRepositoryMount="/apprenda/repo/apps" systemRepositoryMount="/apprenda/repo/sys" adminPassword="{{ apprenda_linux_root_pass }}" defaultWorkloadAccount="apprenda" enableWorkloadAccountAutoCreation="true"/>
    <PlatformAuditingConfig enableAuditing="true">
{% for cloud in clouds %}
{% for host in cloud.instances %}
{% for role in host.role_tags if role == "Apprendacoredb" %}
{% if envOptions.sqlCluster %}
      <SQLInstance name="{{sqlclustername}}" username="sa" password="{{ apprenda_sql_sa }}" />
{% else %}
      <SQLInstance name="{{cloud.name}}{{ host.name }}" username="{{ apprenda_sql_user }}" password="{{ apprenda_sql_pass }}" />
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
    </PlatformAuditingConfig>
    <Clouds>
{% for cloud in clouds %}
      <Cloud
         name="{{cloud.name}}"
         description="Auto Cloud"
         rootUrl="http://{{cloud.name}}.{{ cloudZone }}"
         cloudType="Private"
         infrastructureProvider="{{cloud.name}} Datacenter"
         cachePorts="{{ cache_port }}"
         cacheSize="500"
         cachePassword="password"
         generateSslCertificate="false"
         sslCertificatePath="C:\{{cloud.name}}.{{ cloudZone }}.pfx"
         sslCertificatePassword="{{ root_ca_pass }}">
        <Servers>
{% for host in cloud.instances %}
{% if ("Apprendawindowsweb" in host.role_tags) or ("Apprendacache" in host.role_tags) or ("Apprendacoordination" in host.role_tags) or ("Apprendaloadmanager" in host.role_tags) or ("Apprendawindowsapp" in host.role_tags) or ("Apprendafederation" in host.role_tags) %}
          <Server hostName = "{{cloud.name}}{{ host.name }}">
            <Roles>
{% if "Apprendacache" in host.role_tags %}
              <Role name="cache"/>
{% endif %}
{% if "Apprendacoordination" in host.role_tags %}
              <Role name="coordination"/>
{% endif %}
{% if "Apprendaloadmanager" in host.role_tags %}
              <Role name="loadManager"/>
{% endif %}
{% if "Apprendafederation" in host.role_tags %}
              <Role name="adfs"/>
{% endif %}
{% if "Apprendawindowsapp" in host.role_tags %}
              <Role name="app"/>
{% endif %}
{% if "Apprendawindowsweb" in host.role_tags %}
              <Role name="web"/>
{% endif %}
            </Roles>
          </Server>
{% endif %}
{% endfor %}
        </Servers>
        <DatabaseServerInstances>
{% if envOptions.sqlCluster and (cloud.cluster_instances | default([]) | length > 0) %}
        <DatabaseServerInstance
           type="SQL Server"
           totalMemoryMB="12270"
           totalCpuMHz="27136"
           totalStorageMB="10240"
           adminUser="sa"
           adminPassword="{{ apprenda_sql_sa }}"
           name="{{sqlclustername}}"
           fqdn="{{sqlclustername}}.cloud.apprenda.local"
           coreServer="true" />
{% for host in cloud.instances %}
{% if "Apprendasqlserver" in host.role_tags %}
          <DatabaseServerInstance
             type="SQL Server"
             totalMemoryMB="12270"
             totalCpuMHz="27136"
             totalStorageMB="10240"
             adminUser="{{ apprenda_sql_user }}"
             adminPassword="{{ apprenda_sql_pass }}"
             name="{{cloud.name}}{{host.name}}"
             fqdn="{{cloud.name}}{{host.name}}.{{dns_zone}}"
             coreServer="false" />
{% endif %}
{% if "Apprendaoracle" in host.role_tags %}
          <DatabaseServerInstance
             type="Oracle 12C"
             totalMemoryMB="12270"
             totalCpuMHz="27136"
             totalStorageMB="10240"
             adminUser="C##_apprendaadmin"
             adminPassword="{{ apprenda_sql_pass }}"
             name="{{cloud.name}}{{host.name}}"
             fqdn="{{cloud.name}}{{host.name}}.{{dns_zone}}"
             serviceName="orcl"
             port="1521"
             coreServer="false" />
{% endif %}
{% endfor %}
{% else %}
{% for host in cloud.instances %}
{% if "Apprendasqlserver" in host.role_tags %}
          <DatabaseServerInstance
             type="SQL Server"
             totalMemoryMB="12270"
             totalCpuMHz="27136"
             totalStorageMB="10240"
             adminUser="{{ apprenda_sql_user }}"
             adminPassword="{{ apprenda_sql_pass }}"
             name="{{cloud.name}}{{host.name}}"
             fqdn="{{cloud.name}}{{host.name}}.{{dns_zone}}"
{% if "Apprendacoredb" in host.role_tags %}
             coreServer="true" />
{% else %}
             coreServer="false" />
{% endif %}
{% endif %}
{% if "Apprendaoracle" in host.role_tags %}
          <DatabaseServerInstance
             type="Oracle 12C"
             totalMemoryMB="12270"
             totalCpuMHz="27136"
             totalStorageMB="10240"
             adminUser="C##_apprendaadmin"
             adminPassword="{{ apprenda_sql_pass }}"
             name="{{cloud.name}}{{host.name}}"
             fqdn="{{cloud.name}}{{host.name}}.{{dns_zone}}"
             serviceName="orcl"
             port="1521"
             coreServer="false" />
{% endif %}
{% endfor %}
{% endif %}
                </DatabaseServerInstances>
      </Cloud>
{% endfor %}
    </Clouds>
  </ApprendaGrid>
</ApprendaGridDefinitions>
